<div class="modal">
    <div class="header">
        <h1>Set A Profile</h1>
    </div>
    <form class="post-form" [formGroup]="groupForm">
        <mat-form-field appearance="fill" class="text">
          <mat-label>profile</mat-label>
          <mat-select [(value)]="selectedProfile">
            <mat-option *ngFor="let profile of existingProfiles" [value]="profile.name">
              {{profile.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="submit-container">
            <button mat-flat-button type="button" color="primary" class="submit" (click)="submitForm()">Set</button>
        </div>
    </form>
</div>
