<div class="modal">
    <div class="header">
        <h1>Join A Group</h1>
    </div>
    <form class="post-form" [formGroup]="groupForm">
        <mat-form-field appearance="fill" class="text">
            <mat-label>server address</mat-label>
            <input matInput placeholder="Ex. 200.10...." formControlName="serverAdd">
        </mat-form-field>
        <mat-form-field appearance="fill" class="text">
            <mat-label>friend name</mat-label>
            <input matInput placeholder="Ex. Yoni" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill" class="text">
            <mat-label>contract name</mat-label>
            <input matInput placeholder="Ex. gp01" formControlName="contract">
        </mat-form-field>
        <div class="submit-container">
            <button mat-flat-button type="button" color="primary" class="submit" (click)="submitForm()">Join</button>
        </div>
    </form>
</div>
