.lists {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    app-friends-list, app-group-list {
        height: calc((100% - 70px) / 2);
    }
    app-friends-list {
        margin-bottom: 10px;
    }
    .buttons-wrapper {
        height: 60px;
        button {
            margin-right: 10px;
        }
    }
    ::ng-deep .mat-list-item-content {
        justify-content: space-between;
    }
}

.profile-name {
    cursor: pointer;
}
